/* Styles for announcements page */
.announcementContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.announcementList {
  max-width: 100%;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.announcement {
  border-bottom: 1px solid gray;
  /* display: flex; */

  flex-direction: row;
  align-items: center;
  margin: 2vh 4vh;
  padding: 5px 1vh;
  margin-top: 0;
}

.annMessage {
  font-family: "backissues";
  /* margin-top: 5px; */
  font-size: larger;
}

.dateTime {
  font-family: "backissues";
  font-weight: 600;
}

.label {
  /* height: 80px; */
  /* width: 200px; */
  width: 135px;
  padding: 2px;
  border: 2px solid black;
  font-family: "backissues";
  font-weight: 600;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: center;
}

.events {
  background-color: #1594d9;
  color: white;
}

.judging {
  background-color: #ff5c00;
  color: white;
}

.sponsor {
  background-color: #ffe62b;
  color: black;
}

.misc {
  background-color: #000000;
  color: white;
}

.logistics {
  background-color: #ff0000;
  color: white;
}

.food {
  background-color: green;
  color: white;
}
