/* General Form Styling */
.formPage {
    min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    background: url('../assets/img/bg_img.png') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.formContainer {
	padding: 15px;
    border: 3px solid black;
}

.signupForm,
.loginForm,
.applicationForm {
    margin: 10px 5px;
}

.formField {
    margin-top: 10px;
    margin-bottom: 5px;
}

.formLabel {
    margin-bottom: 1px;
}

.linkContainer {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.linkContainer a {
    color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: smaller;
}

.linkContainer a:hover {
    color: salmon;
}

.buttonContainer {
    margin-top: 15px;
	display: flex;
	justify-content: center;
}

/* Application Form Styling */
.appFormContainer {
    padding: 20px;
    border: 3px solid black;
}

.appField {
	display: flex;
	flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.appIcon {
    margin-left: 15px;
    margin-right: 25px;
}

.appInput {
    display: block;
    margin: 1px 0px;
    border: none;
    outline: none;
    font-weight: lighter;
    border-bottom: 1px solid gray;
}

.appInput:hover,
.appInput:focus {
    border-bottom: 1px solid lightblue;
}

.appLabel {
    font-weight: lighter;
    font-size: smaller;
    margin-bottom: 1px;
}

.appValue {
    align-self: auto;
}

.appButton {
    background-color: skyblue;
    color: black;
    border: 2px solid black;
    padding: 5px 15px;
}

.appButton:hover {
    color: rgba(255, 255, 255, 0.753);
    background-color: skyblue;
    border: 2px solid black;
}