html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.signupForm,
.loginForm {
    width: "30%";
    padding: '20px'; 
    margin: 'auto'
}

.linkContainer {
    text-align: center;
	display: "flex";
	flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}