@font-face {
  font-family: BackIssuesBB;
  src: url(../fonts/back-issues-bb-2/BackIssuesBB_reg.ttf);
}
@font-face {
  font-family: "Franklin Gothic Demi Condensed";
  src: url(../fonts/ITC\ Franklin\ Gothic\ Demi\ Condensed.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

